body{

  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;

}
  .link:link, .link:visited {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.link:hover, .link:active {
  background-color: green;
}
}
.back{
  background-color: pink;
  height: 50px;
  }
top-bar:hover{
  background-color:red;
}
.top-bar{
  background-color: black;

}
.top-resume{
  background-color: green;
}
h1{
  color: #4a3f35;
  font-size: 400.5%;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  width: 40%;
  font-family: 'Sacramento', cursive;
}
h2{
  color: darkblue;
  font-weight: normal;
  font-family: 'Montserrat', sans-serif;

}
p{
  font-family: 'Montserrat', sans-serif;

}
.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom:300px;
}
.top-cloud{
  position: absolute;
right: 350px;
top: 50px;
}
.top-container{
  background-color: #cffffe;
  position: relative;
  padding-top: 80px;
}
.top-js{
  width: 200px;
  height: 200px;
}
.top-skills{
  width:40%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.skill-img{
  width:30%;
  float: left;
  margin-right: 30px;
}
.top-my{
  width:20%;
}
.contact-me{
  background-color: #cffffe;
  padding-top: 50px;
  padding-bottom: 50px;
}
.bottom-container{
  background-color: #cffffe;
  padding-top: 50px;
  padding-bottom: 50px;
}
.top-container1{
  position: relative;
  background-color:  blue;
  width: 20%;
   float: left;
   padding: 20px;
   margin-left: 150px;
}
.img{
  width: 65%;
  float: left;
  margin-left: 50px;
  margin-top: 50px;

}
.info{
margin-left: 75px;
    padding: 20px;
    float: left;
}
.kio{
  margin-top: 80px;
  margin-left: 30px;
  font-size: 140%;
  float: left;

}
.top-container2{
  position: absolute;
  background-color:  grey;
  width: 50%;
  height: 100%;
   float: right;
   padding: 20px;
   margin-left: 462px;
}
.img{
  width:20%;
  height:20%;}
}
.header{
  display: grid;
  grid-template-columns: 2fr 5fr;
}
}
